@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*ロード中=====================================================================*/
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white;
    z-index:110;
}
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: black;
    z-index: 110;
}

/*ヘッダー=====================================================================*/
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    position: fixed;
    opacity: 0;
}

.navi{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    position: fixed;
}

.navi li{
    float: left;
    margin: 0 20px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Courier";
}


/*メイン=====================================================================*/
#Main{
    position: relative;
    top:0px;
}

/*スライド-STR=============================*/
.cafe_in{
    position: absolute;
    margin-top:10%;
    left: 0;
    right: 0;
    text-align: center;
}

.cafe_in img{
    width: 50%;
    height: 50%;
}

.coffee{
    position: absolute;
    margin-top:10%;
    left: 0;
    right: 0;
    text-align: center;
}

.coffee img{
    width: 50%;
    height: 50%;
}

.bread{
    position: absolute;
    margin-top:10%;
    left: 0;
    right: 0;
    text-align: center;
}

.bread img{
    width: 50%;
    height: 50%;
}

.lego_blocks{
    position: absolute;
    margin-top:10%;
    left: 0;
    right: 0;
    text-align: center;
}

.lego_blocks img{
    width: 50%;
    height: 50%;
}

/*スライド-END=============================*/

.main_window{
    position: absolute;
    top:10px;
    left: 0;
    right: 0;
    text-align: center;
}

.main_window img{
    width: 100%;
    height: 100%;
}

.logo_main{
    position: absolute;
    margin-top:17%;
    left: 0;
}

.logo_main img{
    width: 20%;
    height: 20%;
}

.copy p{
    writing-mode: vertical-rl;
    font-size: 3vw;
    height: 40vw;
    position: absolute;
    margin-top: 12%;
    right: 0%;
    font-family: 'Tsukushi A Round Gothic';
    
    z-index: 90;
    color:darkslategrey;
}